<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--引入 jQuery-->
    <script th:src="@{/} + 'static/js/jQuery3.6.0.mini.js'"></script>
    <!--引入 BootStrap-->
    <script th:src="@{/} + 'static/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:inline="css" th:href="@{/} + 'static/css/bootstrap.min.css'">
    </script>
    <title>首页</title>
</head>
<body>

<!--用 thymeleaf 获取web的根路径-->
<input type="hidden" th:value="@{/}" id="webPath"><br>

<center>
    <span th:text="${msg}" style="color: red;font-size: 30px"></span>
</center>
<table style="height: 120px;margin: auto;">
    <form th:action="@{/login}" method="get">
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td><input type="submit" value="登录" style="width: 165px"></td>
        </tr>
    </form>
</table>
</body>
</html>